@font-face {
	src: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/font/FiraCode-Regular.ttf');
	font-family: 'Fira Code';
	font-weight: normal;
}

@font-face {
	src: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/font/FiraCode-Bold.ttf');
	font-family: 'Fira Code';
	font-weight: bold;
}

$frame-radius: 5px;
$frame-width: 300px;
$frame-edge-spacing: 50px;

$toolbar-bg: linear-gradient(30deg, rgba(45, 203, 255, 1), rgba(31, 110, 255, 1));
$toolbar-opacity: 1.0;
$chinbar-bg: #eee;
$chinbar-button-color: #555;
$chinbar-button-inactive-color: #333;
$chinbar-button-disabled-color: #888;
$chinbar-button-pressed-color: $chinbar-button-inactive-color;
$chinbar-opacity: $toolbar-opacity;
$sandwich-bg: #eee;
$highlight: #fff;
$button-inactive-color: rgba(255, 255, 255, 0.5);
$toolbar-button-pressed-color: $button-inactive-color;
$long-animation-time: 200ms;
$snappy-animation-time: 100ms;

$bar-height: 40px;
$link-height: $bar-height;
$link-count: 4.5;
$link-bg: rgba(0, 0, 0, 0);
$link-highlight: rgba(0, 0, 0, 0.2);
$link-url-color: #555;
$link-name-color: black;

$scrollbar-radius: 0px;
$scrollbar-color: $link-highlight;
$scrollbar-width: 10px;

$widget-radius: 50%;
$widget-color: $toolbar-bg;

$widget-size: 35px;
$hat-size: 150px;
$hat-position: center;
$hat-transform: translateY(70px);

body::-webkit-scrollbar {
	display: none !important; // This has to be a setting cause it might screw stuff up
}

#hopscotch-toolbox-frame {
	z-index: 1000000; // I wish that websites didn't abuse z-index this much
	width: $frame-width;
	position: fixed;
	top: $frame-edge-spacing;
	left: $frame-edge-spacing;
	opacity: 0;
	transform: scale(0);
	overflow: hidden;
	transition: all $long-animation-time ease;

	&.hopscotch-toolbox-active {
		transform: scale(1);
		opacity: 1;
	}

	&.hopscotch-toolbox-has-hat::before {
		content: '';
		z-index: inherit;
		width: $frame-width;
		height: $hat-size;
		background-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/hat-icon.svg');
		background-position: $hat-position;
		background-repeat: no-repeat;
		transform: $hat-transform;
		display: block;
	}

	* {
		margin: 0px;
		-webkit-font-smoothing: antialiased;
		font-family: 'Fira Code';
	}

	::-webkit-scrollbar {
		display: none;
	}
}

// If the widget is visible and so is the menu, move the frame down.
#hopscotch-toolbox-attention-widget.hopscotch-toolbox-active + #hopscotch-toolbox-frame.hopscotch-toolbox-active {
	transform: translateY($widget-size + $frame-edge-spacing / 2);
}

.hopscotch-toolbox-bar {
	width: $frame-width; // Do not use 100% - it'll make the animation weird
	height: $bar-height;

	&#hopscotch-toolbox-toolbar {
		background: $toolbar-bg;
		opacity: $toolbar-opacity;
		border-top-left-radius: $frame-radius;
		border-top-right-radius: $frame-radius;
	}

	&#hopscotch-toolbox-chinbar {
		background: $sandwich-bg;
		opacity: $chinbar-opacity;
		border-bottom-left-radius: $frame-radius;
		border-bottom-right-radius: $frame-radius;
		& .hopscotch-toolbox-button {
			background: $chinbar-button-inactive-color;
			&.hopscotch-toolbox-active, &:hover {
				background: $chinbar-button-color;
			}

			&:active {
				background: $chinbar-button-pressed-color;
			}

			&.hopscotch-toolbox-disabled {
				background: $chinbar-button-disabled-color;
				cursor: default;
			}
		}
	}

	.hopscotch-toolbox-button {
		height: $bar-height;
		width: $bar-height;
		float: left;
		background: $button-inactive-color;
		transition: background $snappy-animation-time ease;
		cursor: pointer;

		-webkit-mask-position: center;
		-webkit-mask-size: 80%;
		-webkit-mask-repeat: no-repeat;

		&.hopscotch-toolbox-active, &:hover {
			background: $highlight;
		}

		&:active {
			background: $toolbar-button-pressed-color;
		}

		&.hopscotch-toolbox-button-add {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/add-icon.svg');
		}

		&.hopscotch-toolbox-button-root {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/root-icon.svg');
		}

		&.hopscotch-toolbox-button-remove {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/remove-icon.svg');
		}

		&.hopscotch-toolbox-button-browser {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/hopscotch-icon.svg');
		}

		&.hopscotch-toolbox-button-backstep {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/backstep-icon.svg');
		}

		&.hopscotch-toolbox-button-resolve {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/resolve-icon.svg');
			float: right !important;
		}

		&.hopscotch-toolbox-button-settings {
			-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/settings-icon.svg');
			float: right !important;
		}
	}
}

#hopscotch-toolbox-sandwich {
	width: $frame-width;
	background: $sandwich-bg;
	transform: translateX(0px);
	transition: height $long-animation-time;
	overflow: hidden;

	.hopscotch-toolbox-slice {
		width: $frame-width;
		transition: all $long-animation-time;
		color: white;
		margin: 0;
		overflow: hidden;

		&:not(.hopscotch-toolbox-active) {
			transform: translateX($frame-width);
			max-height: $link-height !important;
			margin-top: -$link-height;
		}

		&.hopscotch-toolbox-browser {
			max-height: $link-height * $link-count;
			min-height: $link-height;
			overflow-y: scroll;

			&:empty {
				//TODO Put an image here or something
			}
		}

		&.hopscotch-toolbox-settings {
			min-height: $link-height;
			max-height: $link-height * $link-count;
		}
	}
}

.hopscotch-toolbox-link {
	width: 100%;
	height: $link-height;
	background: $link-bg;
	transition: all $snappy-animation-time;
	overflow: hidden;
	padding: 0 10px;

	p {
		transition: all $snappy-animation-time;
		&:nth-child(1) {
			font-weight: bold;
			color: $link-name-color;
		}

		&:nth-child(2) {
			color: $link-url-color;
		}
	}

	&:hover {
		cursor: pointer;
		p {
			transform: translateX(10px);
		}
	}

	&:active {
		background: $link-highlight;
	}
}

#hopscotch-toolbox-attention-widget {
	z-index: 1000000 - 1; // This shouldn't be on top of the menu.
	cursor: pointer;
	position: fixed;
	width: $widget-size;
	height: $widget-size;
	left: $frame-edge-spacing;
	top: $frame-edge-spacing;
	transform: scale(0.0);
	border-radius: $widget-radius;
	transition: all $long-animation-time;
	background: $widget-color;

	&.hopscotch-toolbox-active {
		transform: scale(1.0);
	}

	&::after {
		content: '';
		width: $widget-size;
		height: $widget-size;
		-webkit-mask-image: url('chrome-extension://fpjgfoahemcodocejmieioppledckdlo/assets/img/notification-icon.svg');
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 80%;
		background: white;
		display: inline-block;
		shape-rendering: crispEdges;
	}
}
